[submodule "personal_infra/puppet/modules/mailalias_core"]
	path = personal_infra/puppet/modules/mailalias_core
	url = https://github.com/puppetlabs/puppetlabs-mailalias_core.git
[submodule "personal_infra/puppet/modules/nagios_core"]
	path = personal_infra/puppet/modules/nagios_core
	url = https://github.com/puppetlabs/puppetlabs-nagios_core.git
[submodule "workstation/arch-container-builder"]
	path = workstation/arch-container-builder
	url = https://github.com/alexpdp7/arch-container-builder.git
[submodule "personal_infra/talos-check"]
	path = personal_infra/talos-check
	url = https://github.com/alexpdp7/talos-check.git
