---
ragent:
  package_key:
    Debian:
      # package is built for the oldest non-archived Debian version, seems to work "upwards"
      '11':
        x86_64: debian
        armv7l: debian_rpi3
      '12':
        x86_64: debian
        armv7l: debian_rpi3
      '13':
        x86_64: debian
        armv7l: debian_rpi3
#      '20': # and it also works for Ubuntu 20.04
#        x86_64: debian_buster
    RedHat:
      '8':
        x86_64: el8
      '9':
        x86_64: el8
      '10':
        x86_64: el8
  install_command:
    Debian: "dpkg -i"
    RedHat: "rpm -i"
