:root {
    color-scheme: light dark;
    /* from Mozilla reader mode and https://lobste.rs/c/zeegjm */
    line-height: 1.6em;
    font-size: max(1rem, 20px);
}
body {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}
